[*.cs]

# CS8602: 解引用可能出现空引用。
dotnet_diagnostic.CS8602.severity = none

# IDE0044: 添加只读修饰符
dotnet_diagnostic.IDE0044.severity = none

# CS8629: 可为 null 的值类型可为 null。
dotnet_diagnostic.CS8629.severity = none

# CS8603: 可能返回 null 引用。
dotnet_diagnostic.CS8603.severity = none

# CS8601: 引用类型赋值可能为 null。
dotnet_diagnostic.CS8601.severity = none

# CS4014: 由于此调用不会等待，因此在调用完成前将继续执行当前方法
dotnet_diagnostic.CS4014.severity = none

# CS1998: 异步方法缺少 "await" 运算符，将以同步方式运行
dotnet_diagnostic.CS1998.severity = none
